*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:#333;
    font-family: sans-serif; 
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.container{
    background:linear-gradient(#ffb , #060);
    width: 80vw;

    border-radius: 20px;
    
}
.container{
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
#img{
    width: 400px;
    max-height: 200px;
   
   
}
.upload input{
    display: none;
}
.upload label{
    color: #fff;
    padding: 10px;
    border: 2px white dashed;
}
.filters ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    direction: rtl;
}
.filters ul li{
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
}
.filters ul li:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filters ul li a{
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding:  20px;
    color: #fff;
    background-color: #060;
    border-radius: 5px;
}
.filters ul li span{
    cursor: pointer;

    margin-right: 10px;
    border-radius: 5px;

    display: inline-block;
    padding:  20px;
    color: #fff;
    background-color: #060;
}
.filters ul li label{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.em;
    font-weight: 500;
}
@media screen and ( max-width:650px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .img img{
        max-width: 500px;
    }
}




